

#detail-page {
	position: relative;

	.recipe-wrap {
		padding: 0 25px;

		.ingredient-list {
			li {
				list-style-type: disc;
				font-size: 16px;
			}
		}
	
		.recipe-image {
			max-width: 100%;
		}
	}	
	
}