 
/************ LOGO AND MOTTO ************/
#header-module {
	padding-top: 30px;
	padding-bottom: 35px;
	position: relative;
	text-align: center;
	background-color: $colour1;
	
	#siteTitle {
		color: #fff;
		font-family: "Trebuchet MS";
		font-size: 48px;
	}

}

