

#search-module {
	position: relative;
	
	.main-search-form {
		padding: 50px 0 50px;
		text-align: center;
		
		.inputCont {
			label {
				display: block;
				color: $colour3;
				margin: 0 0 20px;
				font-size: 15px;
			}

			.inner-input-cont {
				overflow: hidden;
				margin: auto;
				display: inline-block;

				input {
					padding: 10px;
					border: none;
					width: 350px;
					color: #fff;
					background-color: $colour3;
					float: left;
		
					&:focus {
						color: #fff;
					}
					
					&::placeholder {
						color: #fff;
					}
				}

				// vue-innerseaarch styles
				.button-wrap, .input-wrap {
					float: left;
				}
				
				.submit-btn, input[type=button] {
					height: 40px;
					width: 100px;
					line-height: 40px;
					padding: 0;
					margin: 0 0 0 20px;
					border: none;
					background-color: $colour5;
					color: #fff;
					text-transform: uppercase;
					float: left;
					border-radius: 4px;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
		
		&.error {
			border: 1px solid red;
		}
		
	}

	.new-recipe-button-wrap {
		padding: 0 0 10px 0;

		.add-new-link {
			display: block;
			margin: 0 50px;
			text-align: center;
			border-top: 1px solid;
			padding: 20px 0 15px 0;
		}
	}
	
}