#navigation-module {
	position: relative;
	background-color: $colour2;
	opacity: 0.9;

	.topLevel {
		margin-bottom: 0;
		position: relative;
		
		> li {
			color: $colour1;
			letter-spacing: 1px;
			display: inline-block;
			font-size: 16px;
			position: static;
			text-align: center;
			
			&:hover {
				background-color: $colour5;
				cursor: pointer;
			}
			
				&:focus {
					outline: 0;
				}
			
			
			a {
				color: #fff;
				display: inline-block;
				font-weight: normal;
				text-transform: uppercase;
				
				&:hover, &:visited, &:focus {
					text-decoration: none;
					outline: none;
				}
		
				&.navTitle {
					padding: 20px 0;
					position: relative;
					/* z-index: 1000; */
				}
			}
			
			
		}

	}
}


@media (max-width: 767px) {
	
	#navigation-module {
		position: absolute;
		z-index: 200;
		display: none;
		width: 100%;
	
		.topLevel {
			background-color: $colour1;
			padding-left: 0;
			padding-right: 0;
		
			>li {
				position: relative;
				width: 100%;
				
				.hoverWrap {
					display: block;
			
					text-align: left;
					border-bottom: 1px solid $colour1;
					padding-left: 0;
					padding-right: 0;
					
					a.navTitle {
						width: 100%;
						font-size: 16px;
						padding: 20px 10px;
						background: none;
						
						&:after {
							position: relative;
							top: 1px;
							display: inline-block;
							font-family: 'Glyphicons Halflings';
							font-style: normal;
							font-weight: normal;
							line-height: 1;
							-webkit-font-smoothing: antialiased;
							content: "\e080";
							padding-right: 10px;
							color: $colour5;
							float: right;
						}
					}
					
					&:hover {
							
						.navTitle{
							border: none;
							margin: 0;
							
							&:after {
								content: "\e080";
								position: relative;
								top: 1px;
								left: -17px;
							}
							
							&:before, &:after {
								border: none;
							}
						}

					}
				}
			}
		}
	}
}