
/************ COLOURS ************/
$colour1	:	#007F52;  // teal green
$colour2    :   #88BFB0;  // teal
$colour3    :   #859F3C;  // grass green
$colour4    :   #D7B983;  // sand
$colour5    :   #45451F;  // swamp green
$colour6	:	#C2E6FF;  // light blue

$light-green:	#daebdb;

/************* FONTS *************/

$primary	:	"Arial";
$secondary	:	"Arial";



/************* MOBILE *************/
$mobileScreen	: 767px;